.footer {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;

	padding: 3rem;
	background-color: materialColor(blueGrey, 900);
	color: color(grey-light-2);
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;

	&__actions {
		display: flex;

		& > :not(:last-child) {
			margin-right: 0.8rem;
		}
	}

	&__btn {
		cursor: pointer;
		background-color: transparent;
		border: none;
		color: color('white');
		padding: 0.1rem;

		&--html .expd-icon:hover {
			width: 11.5rem;
		}

		&--pdf .expd-icon:hover {
			width: 10.75rem;
		}
	}

	&__copyright {
		@include centerAbsolute();
		display: flex;
		// align-items: center;

		& > :not(:last-child) {
			margin-right: 0.5rem;
		}
	}

	&__icons {
		display: flex;

		& > :not(:last-child) {
			margin-right: 1.2rem;
		}
	}

	&__link:focus,
	&__link:active {
		outline: none;
		color: color(primary);
	}

	@include bp-very-small() {
		justify-content: center;
		flex-wrap: wrap;

		&__actions {
			margin-right: 1.2rem;
		}

		&__copyright {
			flex: 0 0 100%;

			justify-content: center;
			margin-top: 2rem;

			// reset from centerAbsolute()
			position: unset;
			top: unset;
			left: unset;
			transform: unset;
		}
	}
}
