.footer {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;

	padding: 3rem;
	background-color: materialColor(blueGrey, 900);
	color: color(grey-light-2);
	display: flex;
	justify-content: flex-end;
	align-items: center;

	position: relative;

	&__copyright {
		@include centerAbsolute();
		display: flex;
		align-items: center;

		& > :not(:last-child) {
			margin-right: .5rem;
		}
	}

	&__icons {
		display: flex;

		& > :not(:last-child) {
			margin-right: 1.2rem;
		}
	}

	&__link:focus,
	&__link:active {
		outline: none;
		color: color(primary);
	}
}
