.page-container {
    max-width: var(--page-container-width);
    margin: var(--page-container-vert-padding) auto;
    background-color: color('white');
    border-radius: var(--border-round);
    box-shadow: var(--shadow-dark);

    &--no-vert-margin {
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 0;
    }
}