.page-container {
    max-width: var(--page-container-width);
    margin: var(--page-container-vert-padding) auto;
    background-color: color('white');
    border-radius: var(--border-round);
    box-shadow: var(--shadow-dark);
}