// body               { background-color: #198c8c !important; }
// body *             { background-color: #008080 !important; }
// body * *           { background-color: #007373 !important; }
// body * * *         { background-color: #006666 !important; }
// body * * * *       { background-color: #005959 !important; }
// body * * * * *     { background-color: #004c4c !important; }
// body * * * * * *   { background-color: #004040 !important; }
// body * * * * * * * { background-color: #003333 !important; }

$padtop:     40px;
$dark-grey:  #333333;
$grey:       #808080;
$bg-color:   $dark-grey;
$fg-color:   $grey;
$light-grey: #c1c1c1;
$hl-color:   #16a085;

body {
   background-color: $bg-color;
   color: $fg-color;
   cursor: default;
   padding-top: $padtop;
}

article {
   margin: {
      bottom: 10px;
      top: 10px;
   }
}

.container {

   .search-bar {

      .search-bar__input-box {
         background-color: $light-grey;
         border: none;

         &:focus {
            background-color: $light-grey;
         }
      }

      .search-bar__icon {
         border: {
            bottom-right-radius: 4px;
            top-right-radius: 4px;
         }
      }

      // chained class (.form-control) to override bootstrap css
      .form-control.search-bar__dropdown {
         border-radius: 4px;
         max-width: 50px;
      }

      .search-bar__btn--pos {
         border: thick;
         // fix border height not aligned with input bar and dropdown
         height: 2.3em;
         margin-left: 10px;
         top: 10px;
      }

   }

}

.btn {
   background-color: $light-grey;
   border: unset;
   color: $dark-grey;

   &:hover {
      background-color: $hl-color;
      color: $light-grey;
   }
}

.btn__link {
   text-align: right;
}

.btn,
.fa {
   cursor: pointer;
}

.result {
   padding-top: 60px;
}

.result__review {
   background-color: $grey;
   color: $dark-grey;
}
