// body               { background-color: #198c8c !important; }
// body *             { background-color: #008080 !important; }
// body * *           { background-color: #007373 !important; }
// body * * *         { background-color: #006666 !important; }
// body * * * *       { background-color: #005959 !important; }
// body * * * * *     { background-color: #004c4c !important; }
// body * * * * * *   { background-color: #004040 !important; }
// body * * * * * * * { background-color: #003333 !important; }

$padtop:     40px;
$dark-grey:  #333333;
$grey:       #808080;
$light-grey: #c1c1c1;
$bg-color:   $dark-grey;
$fg-color:   $light-grey;

h1 {
   margin: 20px;
}

body {
   background-color: $bg-color;
   color: $fg-color;
   cursor: default;
   padding-top: $padtop;
}

article {
   margin: {
      bottom: 10px;
      top: 10px;
   }
}

.container {

   .search-bar {

      .search-bar__input-box {
         background-color: $light-grey;
         border: none;

         &:focus {
            background-color: $light-grey;
         }
      }

      .search-bar__icon {
         border: {
            bottom-right-radius: 4px;
            top-right-radius: 4px;
         }
      }

      .search-bar__dropdown--pos {
         background-color: $light-grey;
         margin-left: 5px;
      }

      .search-bar__btn--pos {
         border: thick;
         // fix border height not aligned with input bar and dropdown
         height: 2.3em;
         margin-left: 10px;
         top: 10px;
      }

   }

}

.search-bar__btn,
.result__btn {
   background-color: $light-grey;
   border: unset;
   color: $dark-grey;
   transition: all 0.15s ease-out;

}

.search-bar__btn {
   &:hover {
      background-color: $grey;
   }
}

.result__btn {
   &:hover {
      background-color: $dark-grey;
      color: $light-grey;
   }
}

.btn__link {
   text-align: right;
}

.search-bar__btn,
.search-bar__icon {
   cursor: pointer;
}

.result {
   padding-top: 60px;

   [class*=result__review] {
      background-color: $grey;
      color: $dark-grey;
   }
}

@mixin center-bottom() {
   position: fixed;
   left: 50%;
   bottom: 5px;
   transform: translate(-50%, -50%);
   margin: 0 auto;
}

.copyright__text {
   // @include center-bottom();
   font-size: 12px;
}
