.btn-link {
	border: none;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	transition: all 0.2s;

	display: inline-flex;
	justify-content: center;

	@include underlineExpandAnimation(0.3s);

	&:active {
		transform: translateY(0.1rem);
	}

	&--dark {
		$darkShade: materialColor($primaryColor, 700);
		@include underlineExpandAnimation(0.3s, $darkShade);
	}

	&--blue {
		@include underlineExpandAnimation(0.3s, materialColor(cyan));
	}
}
