.btn-link {
	border: none;
	background-color: transparent;
	color: inherit;
	font-size: inherit;
	transition: all 0.2s;

	display: inline-flex;
	justify-content: center;

	@include underlineExpandAnimation(0.3s);

	&:active {
		transform: translateY(0.1rem);
	}

	&--dark {
		$darkShade: materialColor($primaryColor, 700);
		@include underlineExpandAnimation(0.3s, $darkShade);
	}

	&--blue {
		@include underlineExpandAnimation(0.3s, materialColor(cyan));
	}
}

.btn-icon {
	border: none;
	background-color: transparent;
	cursor: pointer;

	& > &__icon {
		width: 2rem;
		height: 2rem;
		color: color(grey-dark-3);
		transition: color 0.2s;
	}

	&:hover &__icon,
	&:focus &__icon,
	&:active &__icon {
		color: color(primary);
	}

	&:focus {
		outline: none;
	}
}
