.linebreak {
	height: 0.1rem;
	background-color: color(grey-light-2);
    margin-bottom: 2rem;
    position: relative;

    // seoncondary line which will overlap the primary line
    // if width: 100%. Used in animation
    // see _typography.scss
	&::before {
        content: '';
        position: absolute;
        height: 0.1rem;
        width: 0;
        background-color: color(primary);
		transition: width 0.5s $easeOutExpo;
	}
}
