.project-preview {
    // line-height: 1.75;
    font-size: 1.35rem;

    .h3 {
        display: inline-block;
        margin-right: 1rem;
    }

    &__date {
        color: materialColor($primaryColor, 700);
        font-weight: 600;
    }
}