{
	"singleQuote": true,
	"quoteProps": "consistent",
	"jsxSingleQuote": true,
	"useTabs": true,
	"jsxBracketSameLine": false,
	"trailingComma": "all",
	"arrowParens": "always",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": ".eslintrc.js",
			"options": {
				"quoteProps": "preserve"
			}
		}
	]
}
