// https://stackoverflow.com/a/16878602/9449426
// somewhat mitigate blurried text when applying scaling transform
@mixin applyScale() {
	backface-visibility: hidden;
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;
	@content;
}

@mixin centerAbsolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/// 1em = 16px
@function _pxToEm($pixel) {
	@return ($pixel / 16px) * 1em;
}

@mixin bp-large {
	@media only screen and (max-width: _pxToEm(1000px)) {
		@content;
	}
}

@mixin bp-medium-large {
	@media only screen and (max-width: _pxToEm(900px)) {
		@content;
	}
}

@mixin bp-medium {
	@media only screen and (max-width: _pxToEm(775px)) {
		@content;
	}
}

@mixin bp-medium-small {
	@media only screen and (max-width: _pxToEm(705px)) {
		@content;
	}
}

@mixin bp-small {
	@media only screen and (max-width: _pxToEm(590px)) {
		@content;
	}
}

@mixin bp-very-small {
	@media only screen and (max-width: _pxToEm(490px)) {
		@content;
	}
}