.about {
	position: relative;

	.about-header {
		height: 15rem;
		background-image: linear-gradient(
			to right,
			materialColor($secondaryColor, 400),
			materialColor($secondaryColor, 500)
		);
	}

	.about-intro {
		width: 50%;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: color('white');
		text-align: center;
		border-radius: var(--border-round);

		@include bp-medium-small() {
			width: 75%;
			margin: 1rem auto;
		}
		@include bp-very-small() {
			width: 90%;
		}

		// override h1's normalize.css
		.h1 {
			margin: 0;
		}

		.h2 {
			font-weight: 400;
		}
	}

	.about-body {
		padding: 8rem 5rem;
		padding-top: 12rem;
		margin-top: -1rem;
		font-size: 1.5rem;

		@include bp-small() {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		@include bp-very-small() {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}
