.about {
	.about-header {
		height: 15rem;
		background-image: linear-gradient(
			to right,
			materialColor($secondaryColor, 400),
			materialColor($secondaryColor, 500)
		);
	}

	.about-intro {
		width: 50%;
		transform: translate(50%, -50%);
		background-color: color('white');
		text-align: center;
		border-radius: var(--border-round);

		// override h1's normalize.css
		.h1 {
			margin: 0;
		}

		.h2 {
			font-weight: 400;
		}
	}

	.about-body {
		padding: 8rem 5rem;
		padding-top: 0;
		margin-top: -1rem;
		font-size: 1.5rem;

		a {
			color: materialColor(cyan);
		}
	}
}
