.about {
	.about-header {
		height: 15rem;
		background-image: linear-gradient(
			to right,
			materialColor($secondaryColor, 400),
			materialColor($secondaryColor, 500)
		);
	}

	.about-intro {
		width: 50%;
		transform: translate(50%, -50%);
		background-color: color('white');
		text-align: center;
		border-radius: var(--border-round);

		// override h1's normalize.css
		.h1 {
			margin: 0;
		}

		.h2 {
			font-weight: 400;
		}

		.h1,
		.h2 {
			text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
		}

		&__shadow-tl-wrap,
		&__shadow-br-wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		&__shadow-tl-wrap {
			filter: drop-shadow(-0.3rem -0.3rem 0.8rem rgba(255, 255, 255, 0.5));
		}
		&__shadow-br-wrap {
			filter: drop-shadow(0.3rem 0.3rem 0.8rem rgba(0, 0, 0, 0.25));
		}

		&__shadow-tl,
		&__shadow-br {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: white;
			border-radius: var(--border-round);
		}

		// top left
		&__shadow-tl {
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
		}

		// bottom right
		&__shadow-br {
			clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
		}

		&__shadow-mask {
			background-color: white;
			padding: 1.5rem;
			z-index: 0;
			border-radius: inherit;
		}
	}

	.about-body {
		padding: 8rem 5rem;
		padding-top: 0;
		margin-top: -1rem;
		font-size: 1.5rem;

		a {
			color: materialColor(cyan);
		}
	}
}
