.intro {
	padding: 4rem;
	background-color: color(grey-light-1);
	height: 70vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	@include bp-medium-small() {
		align-items: center;
		text-align: center;
	}

	&__title {
		// remove normalize default
		margin-top: 0;
		color: materialColor($secondaryColor, 500);

		text-shadow: 1px 1px 2px
			transparentize($color: map-get($colors, grey-dark-2), $amount: 0.75);
		transition: all 0.25s;

		&:hover {
			text-shadow: 1px 2px 10px
				transparentize(
					$color: materialColor($secondaryColor, 500),
					$amount: 0.75
				);
		}
	}

	&__description {
		// background-color: color(grey-dark-3);
		color: color(grey-dark-1);

		&--delimiter {
			display: none;
		}

		@include bp-small() {
			&--delimiter,
			p {
				display: inline;
			}
		}
	}
}

.portfolio {
	padding: 6rem 3rem;

	@include bp-medium() {
		padding: 4rem 3.5rem;
	}
}
