body {
   display: flex;
   align-items: center;
   justify-content: center;

   background: linear-gradient(#412f5d, #6e5691);
   color: #cdbfe3;
}

h1 {
   text-align: center;
}

.well {
   height: 150px;
   font-size: 8px;
}

@media only screen and (min-width: 600px) {
   .well {
      height: 175px;
      font-size: 10px;
   }
}

@media only screen and (min-width: 768px) {
   .well {
      height: 200px;
      font-size: 20px;
   }
}

.well {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #cdbfe3;
   color: #6e5691;
}

#content {
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
}

.display-author {
   font-weight: bold;
   text-align: right;
   margin-top: 1em;
   margin-right: 70px;
   color: #412f5d;
}

.button-list {
   text-align: center;
}

button {
   display: inline-block;
   border: none;
   border-radius: 4px;
   line-height: 1.8;

   padding: 5px 9px 5px 9px;
   outline: none;

   transition: all .2s;

   background-color: #cdbfe3;
   color: #412f5d;
}

.btn-quote:hover {
   background-color: #412f5d;
   color: #cdbfe3;
}

.btn-tweet:hover {
   background-color: #48aae6;
   color: #e1f1fb;
}

.btn-copy:hover {
   background-color: #ff7373;
   color: #e1f1fb;
}

.footer {
   text-align: center;
   font-size: 11px;
   margin: 1em 1em;
}

.footer a {
   color: #cdbfe3;
}
