/* body               { background-color: #198c8c !important; } */
/* body *             { background-color: #008080 !important; } */
/* body * *           { background-color: #007373 !important; } */
/* body * * *         { background-color: #006666 !important; } */
/* body * * * *       { background-color: #005959 !important; } */
/* body * * * * *     { background-color: #004c4c !important; } */
/* body * * * * * *   { background-color: #004040 !important; } */
/* body * * * * * * * { background-color: #003333 !important; } */

body {
   cursor: default;
   user-select: none;
   color: white;
}

.background {
   /* fallback */
   background-color: #5fc4e4;

   background-repeat:no-repeat;
   background-size: 
    100% 14.285714%,
    100% 28.571428%,
    100% 42.857142%,
    100% 57.142856%,
    100% 71.42857%,
    100% 85.714284%,
    100% 100%;

   width: 100%;
   height: 100%;
   z-index: -99;
   position: fixed;
}

.background--one {
   z-index: -2;
   background-image:
   linear-gradient(to right, #ff5d39, #ff5d39),
   linear-gradient(to right, #ff692f, #ff692f),
   linear-gradient(to right, #ff7526, #ff7526),
   linear-gradient(to right, #ff811c, #ff811c),
   linear-gradient(to right, #ff8d13, #ff8d13),
   linear-gradient(to right, #ff9909, #ff9909),
   linear-gradient(to right, #ffa500, #ffa500);
}

.background--two {
   z-index: -1;
   background-image:
   linear-gradient(to right, #f09819, #4ca1af), 
   linear-gradient(to right, #f28c1c, #60abb8),
   linear-gradient(to right, #f58020, #74b6c1),
   linear-gradient(to right, #f77424, #88c0ca),
   linear-gradient(to right, #fa6827, #9ccbd3),
   linear-gradient(to right, #fc5c2b, #b0d5dc),
   linear-gradient(to right, #ff512f, #c4e0e5);
}

.loader-wrapper {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -3;
   width: 100%;
   height: 100%;
   box-shadow: inset 0 0 100px 1000px rgba(0, 0, 0, 0.4);
}

.loader {
   border: 0.5em solid rgba(129, 216, 208, 1);
   border-top: 0.5em solid rgba(129, 216, 208, 0.2);
   border-bottom: 0.5em solid rgba(129, 216, 208, 0.2);
   border-radius: 50%;
   width: 3em;
   height: 3em;

   display: inline-block;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   -webkit-animation: spin 0.75s cubic-bezier(.55, .79, .71, .42) infinite;
   animation: spin 0.75s cubic-bezier(.55, .79, .71, .42) infinite;

}

@-webkit-keyframes spin {
   0%   { transform: rotate(0deg);   }
   100% { transform: rotate(360deg); }
}

@keyframes spin {
   0%   { transform: rotate(0deg);   }
   100% { transform: rotate(360deg); }
}

._card {
   padding: 0px;
   margin: 0px;
}

.front, .back {
   min-width: 100%;
   padding: 0px;
   margin: 0px;
}

/* use it to hide element while loading, js will reset the display */
.back {
   display: none;
}

.dateTime {
   height: 30px;
   position: relative;
   font-size: 20px;
   text-shadow: 0px 0.5px 0px #adadad;
}

.dateTime__date {
   position: absolute;
   left: 0;
}

.dateTime__time {
   position: absolute;
   right: 0;
}

._card * {
   backface-visibility: hidden;
}

.weather {
   /* display: none; */
}

.weather__title {
   text-align: center;
   font-size: 70px;
   margin-top: 12;

   text-shadow: 0px 0.5px 0px #adadad;
}

.weather__info {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row wrap;
}

.weather__icon {
   font-size: 210px;
   text-shadow: 0px 0.5px 0px #adadad;
   height: 300;
   width: 300;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row wrap;
}

.shadow--full:after {
   content: "";
   border-radius: 5px;
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;

   background-color: black;
   visibility: hidden;
}

.weather__stat {
   box-shadow: inset 0 0 100px 1000px rgba(0, 0, 0, 0.15);
   padding: 10;
}

.weather__temp {
   font-size: 85px;
   line-height: 85%;
   cursor: pointer;
   font-family: 'Droid Sans Mono', monospace;
   text-shadow: 0px 0.5px 0px #adadad;
}

.weather__tempIcon {
   margin-left: -30;
}

.weather__list {
   list-style-type: none;
   font-size: 14px;
}

.weather__list > * {
   margin: 5;
   padding-left: 0;
}

.weather__wind {
   cursor: pointer;
}

/* mobile tablet */
@media screen and (max-width: 768px) {
   .weather__stat {
      margin-top: 0;
      width: 100%;
      text-align: center;
   }
}

/* desktop */
@media screen and (min-width: 769px) {
   .weather__stat {
      margin-top: 12;
   }
}

.weather__miscInfo {
   text-align: center;
   margin-bottom: 80px;
   text-shadow: 0px 0.5px 0px #adadad;
}

.weather__desc {
   font-size: 50px;
}

.weather__location {
   font-size: 25px;
}

.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   padding: 5;
   text-shadow: 0px 0.5px 0px #adadad;
   text-align: center;
}

.icon {
   font-size: 20;
   cursor: pointer;
   margin: 10 10;
   transition: transform 0.25s;
}

.icon:hover {
   transform: scale(1.25);
}

.footer__infoTooltip      { left: 153px; }
.footer__portfolioTooltip { left:  53px; }
.footer__randTooltip      { left:   2px; }
.footer__localTooltip     { left: -80px; }
.footer__bugTooltip       { 
   left: -85px;
   text-align: left;
   width: 250px;
}

.footer__infoTooltip:after      { left:  6%; }
.footer__portfolioTooltip:after { left: 16%; }
.footer__randTooltip:after      { left: 58%; }
.footer__localTooltip:after     { left: 82%; }
.footer__bugTooltip:after       { left: 92%; }

.tooltip-trigger:hover ~ .footer__copyTooltip { 
   visibility: hidden; 
   opacity: 0;
}

.footer__portfLink, 
.footer__portfLink:hover {
   color: white;
}

.footer__info, 
.footer__portfolio {
   position: relative;
   float: left;
}

.footer__randWeather, 
.footer__localWeather,
.footer__debug {
   position: relative;
   float: right;
}

.copyright {
   position: absolute;
   font-size: 12px;
   bottom: 15;
}

.footer__cpr {
   margin-left: -40;
}
