/* body               { background-color: #198c8c !important; } */
/* body *             { background-color: #008080 !important; } */
/* body * *           { background-color: #007373 !important; } */
/* body * * *         { background-color: #006666 !important; } */
/* body * * * *       { background-color: #005959 !important; } */
/* body * * * * *     { background-color: #004c4c !important; } */
/* body * * * * * *   { background-color: #004040 !important; } */
/* body * * * * * * * { background-color: #003333 !important; } */

body {
   cursor: default;
   user-select: none;
   color: white;

   /* fallback */
   background-color: #5fc4e4;
   background-image:
   linear-gradient(to right, #e55d87, #e55d87), 
   linear-gradient(to right, #ce6e96, #ce6e96),
   linear-gradient(to right, #b87fa6, #b87fa6),
   linear-gradient(to right, #a290b5, #a290b5),
   linear-gradient(to right, #8ba1c5, #8ba1c5),
   linear-gradient(to right, #75b2d4, #75b2d4),
   linear-gradient(to right, #5fc4e4, #5fc4e4);

   background-repeat:no-repeat;

   background-size: 
    100% 14.285714%,
    100% 28.571428%,
    100% 42.857142%,
    100% 57.142856%,
    100% 71.42857%,
    100% 85.714284%,
    100% 100%;
}

/* .loading-section { */
/*    text-align: center; */
/*    height: 100%; */

/*    display: flex; */
/*    align-items: center; */
/*    justify-content: center; */
/* } */

/* .loading { */
/*    background-color: red; */
/*    width: 600; */
/*    height: 150; */
/*    border-radius: 4px; */
/* } */

.dateTime {
   height: 30px;
   position: relative;
   font-size: 20px;
   text-shadow: 0px 0.5px 0px #adadad;
}

.dateTime__date {
   position: absolute;
   left: 0;
}

.dateTime__time {
   position: absolute;
   right: 0;
}

.weather {
   /* display: none; */
}

.weather__title {
   text-align: center;
   font-size: 70px;
   margin-top: 12;

   text-shadow: 0px 0.5px 0px #adadad;
   /* transform: rotateX(90deg); */
   /* transition: transform .5s; */
}

.weather__info {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: row wrap;
}

.weather__icon {
   font-size: 240px;
   text-shadow: 0px 0.5px 0px #adadad;
   padding: 55 10 40 10;
}

.weather__stat {
   box-shadow: inset 0 0 100px 1000px rgba(0, 0, 0, 0.15);
   padding: 10;
}

.weather__temp {
   font-size: 85px;
   line-height: 85%;
   cursor: pointer;
   font-family: monospace;
   text-shadow: 0px 0.5px 0px #adadad;
}

.weather__tempIcon {
   margin-left: -30;
}

.weather__list {
   list-style-type: none;
   font-size: 14px;
}

ul {
   margin: 5;
   padding-left: 0;
}

.weather__wind {
   cursor: pointer;
}

/* mobile tablet */
@media screen and (max-width: 768px) {
/* @media screen and (max-width: 935px) { */
   .weather__stat {
      margin-top: 0;
   }
}

/* desktop */
@media screen and (min-width: 769px) {
/* @media screen and (min-width: 936px) { */
   .weather__stat {
      margin-top: -20;
   }
}

.weather__miscInfo {
   text-align: center;
   margin-bottom: 80px;
   text-shadow: 0px 0.5px 0px #adadad;
}

.weather__desc {
   font-size: 50px;
}

.weather__city {
   font-size: 25px;
}

.footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   padding: 5;
   text-shadow: 0px 0.5px 0px #adadad;
   text-align: center;
}

.icon {
   font-size: 20;
   cursor: pointer;
   margin: 10 10;
   transition: transform 0.25s;
}

.icon:hover {
   transform: scale(1.25);
}

.tooltip {
   position: absolute;
   color: white;
   background-color: black;
   border-radius: 4px;
   padding: 7 7;
   text-align: center;
   font-size: 12px;
   z-index: 1;

   /* width: 200px; */
   /* height: 100px; */

   visibility: hidden;
   opacity: 0;
   transform: translateY(8px);
   transition: all 0.25s ease-in;

   text-shadow: initial;
}

.footer__infoTooltip--top {
   width: 310px;
   bottom: 100%;
   left: 0%;
}

.footer__portfolioTooltip--top {
   width: 110px;
   bottom: 100%;
   left: 0%;
}

.footer__bugTooltip--top {
   width: 200;
   bottom: 100%;
   right: 0%;

   text-align: left;
}

.footer__localTooltip--top {
   bottom: 100%;
   width: 300;
   right: -120%;
}

.footer__randTooltip--top {
   bottom: 100%;
   width: 220;
   right: -170%;
}
/* arrow hack */
.tooltip:after {
   content: " ";
   position: absolute;
   top: 100%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: black transparent transparent transparent;
}

.footer__infoTooltip--top:after      { left:   6%; }
.footer__portfolioTooltip--top:after { left:  16%; }
.footer__bugTooltip--top:after       { right:  7%; }
.footer__localTooltip--top:after     { right: 16%; }
.footer__randTooltip--top:after      { right: 40%; }

.footer__portfLink, .footer__portfLink:hover {
   color: white;
}

.icon:hover ~ .tooltip, .footer__portfLink:hover ~ .tooltip {
   visibility: visible;

   opacity: 0.9;
   transform: translateY(-2px);
   transition: all 0.25s ease-in;
} 

.footer__info, .footer__portfolio {
   position: relative;
   float: left;
}

.footer__randWeather, .footer__localWeather, .footer__debug {
   position: relative;
   float: right;
}

.copyright {
   position: absolute;
   font-size: 12px;
   bottom: 15;
}

.footer__cpr {
   margin-left: -40;
}
