// https://api.flutter.dev/flutter/animation/Curves-class.html
// thanks Flutter

$ease: cubic-bezier(0.25, 0.1, 0.25, 1);
$easeIn: cubic-bezier(0.42, 0, 1, 1);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeInOut: cubic-bezier(0.42, 0, 0.58, 1);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeInToLinear: cubic-bezier(0.67, 0.03, 0.65, 0.09);
$easeOut: cubic-bezier(0, 0, 0.58, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$fastLinearToSlowEaseIn: cubic-bezier(0.18, 1, 0.04, 1);
$fastOutSlowIn: cubic-bezier(0.4, 0, 0.2, 1);
$linearToEaseOut: cubic-bezier(0.35, 0.91, 0.33, 0.97);
$slowMiddle: cubic-bezier(0.15, 0.85, 0.85, 0.15);

$easeOutBackward: cubic-bezier(0.27, 1.69, 0.18, 0.63);

/// [underlineExpandAnimation] will expand the underline from
/// the center to 2 ends when the element is hovered or focused
///
/// $duration: animation duration in seconds
/// $color: underline color
/// $lineHeight: underline height
@mixin underlineExpandAnimation(
	$duration,
	$color: color(primary),
	$lineHeight: 0.1rem
) {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		display: block;
		background-color: $color;
		width: 0;
		height: $lineHeight;
		margin: 0 auto;

		bottom: 0;
		transition: width $duration;
	}

	&:hover:before,
	&:focus:before,
	&:active:before {
		width: 100%;
	}

	&:hover,
	&:focus,
	&:active {
		outline: none;
		color: $color;
		// override bs hover
		text-decoration: none;
	}
}

// Icon Up
@keyframes icon-up {
	0%,
	50%,
	100% {
		transform: translateY(0);
	}
	25%,
	75% {
		transform: translateY(-0.6rem);
	}
}

@mixin icon-up($duration: 0.75s, $curve: ease-out) {
	animation-name: icon-up;
	animation-duration: 0.75s;
	animation-timing-function: ease-out;
}

.animation-icon-up {
	@include icon-up();
}

@mixin radial-out($hoverBgColor, $hoverColor, $duration: 0.3s) {
	position: relative;
	overflow: hidden;
	transition: color $duration ease-out;
	z-index: 0;

	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $hoverBgColor;
		border-radius: 50%;
		transform: scale(0);
		transition: transform $duration ease-out, border-radius ($duration / 3);
	}

	&:hover,
	&:focus,
	&:active {
		color: $hoverColor;

		&::before {
			transform: scale(1.5);
			border-radius: 1em;
		}
	}
}
