$primaryColor: amber;
$secondaryColor: cyan;
$tertiaryColor: green;

$colors: (
	primary: materialColor($primaryColor),
	primary-dark: materialColor($primaryColor, 900),
	primary-light: materialColor($primaryColor, 200),
	secondary: materialColor($secondaryColor),
	tertiary: materialColor($tertiaryColor),
	grey-light-1: materialColor(grey, 100),
	grey-light-2: materialColor(grey, 200),
	grey-light-3: materialColor(grey, 300),
	grey-dark-1: materialColor(grey, 500),
	grey-dark-2: materialColor(grey, 600),
	grey-dark-3: materialColor(grey, 700),
	'white': #fff,
	'black': materialColor(grey, 900),
);

:root {
	// colors
	@each $name, $color in $colors {
		--color-#{$name}: #{$color};
	}

	// general
	--page-container-width: 100rem;
	--page-container-vert-padding: 6rem;
	--shadow-dark: 0 2rem 4rem rgba(0, 0, 0, 0.3);
	--shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
	--border-round: 0.6rem;

	// fonts
	--font-primary: 'Noto Sans', sans-serif;
	--font-display: 'Quicksand', 'Noto Sans', Helvetica, sans-serif;
	--font-code: 'Fira Code', monospace;

	// responsive breakpoint
	--bp-largest: 75em; // 1200px / 16
	--bp-large: 62.5em; // 1000px / 16
	--bp-medium: 50em; // 800px / 16
	--bp-small: 37.5em; // 600px / 16
}
